body {
    display: block;
    margin: 0 !important;
    background: #565252;
}
.welcome{
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appbir-layout-header{
    background:#65a3b7;
    color:white
}
.appbir-layout-left{
    background:#b1bb96
}
.appbir-layout-right{
    background:#fddc8c
}
.appbir-layout-bottom{
    background: #9aa4aa
}
.appbir-layout-content{
    background: white
}
.appbir-layout-content_header{
    background: #eadfcf
}
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}